<h3>CART-LIST</h3>
<!--VUOTO-->
<div *ngIf="cart.isEmpty()">
	<p>Your shopping cart is empty :(</p>

</div>
<!--PIENO-->
<div *ngIf="!cart.isEmpty()">
	<ul *ngFor="let p of cart.products">
		<li>
			<p>
				<a [routerLink]="['/product', p.product.type]">{{ p.product.name }}</a>: ${{ p.product.price }} x {{ p.quantity }} - <span class="glyphicon glyphicon-remove-circle" (click)="removeFromCart(p.product.code)"></span>
			</p>
		</li>
	</ul>
</div>

<p>TOTAL: {{cart.total}} $ </p>

<button [routerLink]="['/checkout']">Checkout</button>