<h1>PRODUCT DETAILS</h1>

<ul *ngFor="let p of products">
  <li><a >{{ p.code }}</a>: {{ p.color }}, {{ p.size }}, {{ p.quantity }}</li>
</ul>

<p>Styles</p>
<div *ngFor="let s of styles" class="btn-group">
  <label *ngIf="s !== ''" class="btn btn-primary" (click)="selectStyle(s)">{{ s }}</label>
</div>

<p>Colors</p>
<div *ngFor="let c of colors" class="btn-group">
  <label class="btn btn-primary" [ngStyle]="{'background-color': c.colorcode}" (click)="selectColor(c.color)">{{ c.color }}</label>
</div>

<p>Sizes</p>
<div *ngFor="let z of sizes" class="btn-group">
  <label class="btn btn-primary" (click)="selectSize(z)">{{ z }}</label>
</div>


<div>
  <p>QUANTITY</p>
  <button class="btn btn-minus" (click)="addQuantity(-1)">-</button>
  <label> {{quantity}} </label>
  <button class="btn btn-plus" (click)="addQuantity(1)">+</button>
</div>

<button (click)="addToCart(product)">ADD to CART</button>

