/* You can add global styles to this file, and also import other style files */

html {
  background: url('./images/bg_home.jpg') no-repeat center center fixed;
  
  background-size: cover;
}

body {
  background-color: transparent;
}

.jumbotron {
  background-color: rgba(238, 238, 238, 0.35);
}
