/*
Style the unordered list. It will be fixed and we will stretch it over the viewport.
We’ll also use a :after pseudo-element in order to place a pattern on top of the image:
*/

body {
	
}


.cb-slideshow, .cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    background-color: #000;
}
 	
.cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}

/*
The span that will contain a slideshow image
*/
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 24s linear infinite 0s; 
}

/*
The animation for the title division
*/

.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    padding-bottom: 400px;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 24s linear infinite 0s;
}

.cb-slideshow li div h1 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', 'Arial', sans-serif;
    padding: 0;
}

.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', 'Arial', sans-serif;
    padding: 0;
}


/*
 Define the background images for all the spans and the animation delay,
 so that each following slideshow image and title appear after 6 second of the previous one
*/
.cb-slideshow li:nth-child(1) span { 
    background-image: url(../images/1.png);
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../images/2.png);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../images/3.png);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../images/4.png);
    animation-delay: 18s; 
}

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}


@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    11% { opacity: 1; transform: scale(1.05); animation-timing-function: ease-out; }
    25% { opacity: 1; transform: scale(1.1) rotate(1deg); }
    37% { opacity: 0; transform: scale(1.1) rotate(1deg); }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    11% { opacity: 1 }
    25% { opacity: 1 }
    30% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}