<!--
The spans are going to be the elements that will have the background images of the slideshow.
-->
<body>
	<ul class="cb-slideshow">
		<li>
			<span>Image 01</span>
			<div>
				<h1>BRAIN BRAND</h1>
				<h3>Questioni di cuore. Questioni di T-shirt.</h3>
			</div>
		</li>
		<li>
			<span>Image 02</span>
			<div>
				<h1>BRAIN BRAND</h1>
				<h3>Questioni di cuore. Questioni di T-shirt.</h3>
			</div>
		</li>
		<li>
			<span>Image 03</span>
			<div>
				<h1>BRAIN BRAND</h1>
				<h3>Questioni di cuore. Questioni di T-shirt.</h3>
			</div>
		</li>
		<li>
			<span>Image 04</span>
			<div>
				<h1>BRAIN BRAND</h1>
				<h3>Questioni di cuore. Questioni di T-shirt.</h3>
			</div>
		</li>
	</ul>
</body>

<!--
<div>
  <h1>HOME</h1>
  <button [routerLink]="['/products']">PRODUCTS</button>
</div>
-->